backend/.gradle/
backend/build/
backend/out/

# Spring

backend/HELP.md

# Environment

backend/.env
backend/.env.*

# =========================

# IntelliJ

# =========================

.idea/
*.iws
*.iml
*.ipr

# =========================

# Eclipse / STS

# =========================

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# =========================

# VS Code

# =========================

.vscode/*
!.vscode/extensions.json

# =========================

# OS

# =========================

.DS_Store
Thumbs.db

# =========================

# TypeScript

# =========================

*.tsbuildinfo

# =========================

# Misc

# =========================

*.local
*.tmp
*.temp
