# Gradle
.gradle/
build/
out/

# Spring Boot
HELP.md

# Environment
.env
.env.*

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# VS Code
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temporary
*.local
*.tmp
*.temp